<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <app-data-binding></app-data-binding>
      <br><br>
      <app-directives></app-directives>
    </div>
  </div>
</div><br><br>
<!-- components & data binding -->
<div class="container">
<app-cockpit
(serverCreated)="onAddServerAdded($event)"
(bpCreated)="onBlueprintAdded($event)">
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
     <app-server-element
     *ngFor="let serverElement of serverElements"
     [srvElement]="serverElement">
     <p class="para" #contentParagraph>
      <strong *ngIf="serverElement.type === 'server'" style="color: red;">
        {{serverElement.content}}
      </strong>
      <em *ngIf="serverElement.type === 'blueprint'">
        {{serverElement.content}}
      </em>
    </p>
    </app-server-element>
    </div>
  </div>
</div><br><br>
<!-- //assignment-4 -->
<div class="row">
  <div class="col-xs-12">
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let oddNumber of oddNumbers"
    [number]="oddNumber"></app-odd>
    <app-even *ngFor="let evenNumber of evenNumbers"
    [number]="evenNumber"></app-even>
  </div>
</div>
<!-- assignment-5 -->
<div class="row">
  <div class="col-xs-12">
    <app-active-users></app-active-users>
    <app-inactive-users></app-inactive-users>
  </div>
</div>
